body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	background-size: 100% 100%;
	background-color: #ecf0f1;
	text-align: center;
}
#content-1 {

	background-size: 100% 100%;
	height: 100%;
	box-shadow: 0px 0px 3px 1px #333;
}
#Img1,#Img2,#Img3,#Img4 {
	position: absolute;
	z-index: -1;
	left: 0;
	visibility: hidden;
	transition:1s;
}
#Sleft{
	position: absolute;
	left: 20;
	top: 40%;
	width: 5%;
	opacity: 0.5;
	transition:1s;
}
#Sleft:hover,#Sright:hover {
	opacity: 0.8;
	cursor: pointer;
}
#Sright{
	position: absolute;
	right: 20;
	top: 40%;
	width: 5%;
	opacity: 0.5;
	transition:1s;
}
.bg1 {
	background: url(../imgs/bg1.jpg) no-repeat;
}
.bg2 {
	background: url(../imgs/bg2.jpg) no-repeat;
}
.bg3 {
	background: url(../imgs/bg3.jpg) no-repeat;
}
.bg4 {
	background: url(../imgs/bg4.jpg) no-repeat;
}
#logo {
    position:absolute;
    top: -150px;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
	background-color: #c0392b;
	width: 150px;
	height: 150px;
}
#logo h1 {
	font-weight: 300;
	position: absolute;
	top: -200px;
	left: 0;
	right: 0;
	margin-right: auto;
	margin-left: auto;
	font-size: 100px;
	color: #ecf0f1;
}
#welcome {
	margin: 0 auto;
	padding-top: 250px;
	display: none;
	text-align: center;
}
#welcome h2 {
	margin: -50 auto;
	font-size: 40px;
	font-weight: 300;
	color: #ecf0f1;
	font-family: 'Open Sans', sans-serif;
}
#start {
	margin-top: 10%;
	display: none;
	margin-bottom: 100px;
}
#regbutton {
	position: absolute;
	bottom: 10%;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	font-size: 20px;
	text-decoration: none;
	color: #c0392b;
	padding: 13px;
	background-color: #ecf0f1;
	transition: .8s;
}
#regbutton:hover {
	border: 0;
	background-color: #c0392b;
	color: #eee;
	cursor: pointer;
}
#lang {
	position: fixed;
	top: 0;
	right: 0;
	background-color: #2c3e50;
	padding: 10px;
	border-bottom-left-radius: 10px;
	display: none;
}
#bg {
	margin-bottom: 10px;
}
/*SCROLL TO TOP*/
.scrollToTop{
	width:	150px; 
	height: 70px;
	padding: 0px; 
	text-align:center; 
	background: whiteSmoke;
	font-weight: 300;
	color: #ecf0f1;
	text-decoration: none;
	position:fixed;
	bottom: 0; 
	right: 0px;
	display:none;
	background: url(../imgs/arrow-up.png) no-repeat 0px 20px;
	background-size: 30%;
	background-position: center;
}
.scrollToTop:hover{
	text-decoration:none;
}
/* CONTENT 2 */
#content-2 {
	background-image: url(../imgs/content-21.jpg);
	width: 100%;
	height: 800px;
	position: absolute;
	z-index: -1;
	text-align: center;
}
#getButtons {
	width: 725px;
	background-color: #ecf0f1;
	margin: 160 auto;
}
#getReg {
	background-size: 20% 20%;
	background-color: #ecf0f1;
	color: #2c3e50;
	border-bottom-left-radius: 50px; 
	font-weight: 300;
	width: 300px;
	height: 300px;
	margin-left: 70px;
	float: left;
	transition: .5s;
}
#getReg:hover {
	background: url(../imgs/signup_icon1.png) no-repeat 15px 110px;
	background-size: 20% 20%;
	background-color: #34495e;
	color: #ecf0f1;
	padding-left: 50px;
	cursor: pointer;
}
#getLog {
	background-size: 20% 20%;
	background-color: #ecf0f1;
	color: #2c3e50;
	border-bottom-right-radius: 50px;
	width: 300px;
	height: 300px;
	margin-left: 5px;
	float: left;
	transition: .5s;
}
#getLog:hover {
	background: url(../imgs/login_icon1.png) no-repeat 15px 110px;
	background-size: 20% 20%;
	background-color: #34495e;
	color: #ecf0f1;
	padding-left: 50px;
	cursor: pointer;
}
#getButtons h1 {
	margin: 100 auto;
}
/* REGISTRATION PAGE */
#wrapper-reg {
	background-color: #ecf0f1;
	width: 50%;
	height: 600px;
	margin: 0 auto;
	margin-top: 100px;
	border-bottom-right-radius: 50px;
	border-top-left-radius: 50px; 
	padding-bottom: 50px;
	display: none;
}
#wrapper-reg h2 {
	margin: 0 auto;
	padding-top: 60px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 40px;
	font-weight: 300;
	color: #333;
}
#close-reg {
	float: right;
	color: #2c3e50;
	background-color: #ecf0f1;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-left-radius: 10px;
	transition: .8s;
}
#close-reg:hover {
	background-color: #2c3e50;
	cursor: pointer;
	color: #ecf0f1;
}
#signup-form {
	margin: 40 auto;
}
#firstname, #username, #lastname {
	background: url(../imgs/uname.png) no-repeat;
	background-size: 6%;
	background-position: 3px 6px;
}
#firstname:focus,#username:focus,#lastname:focus {
	background: url(../imgs/uname_focus.png) no-repeat;
	background-size: 6%;
	background-position: 3px 6px;
}
#email {
	background: url(../imgs/mail.png) no-repeat;
	background-size: 6%;
	background-position: 3px 6px;
}
#email:focus{
	background: url(../imgs/mail_focus.png) no-repeat;
	background-size: 6%;
	background-position: 3px 6px;	
}
#password {
	background: url(../imgs/pass.png) no-repeat;
	background-size: 6%;
	background-position: 3px 6px;
}
#password:focus {
	background: url(../imgs/pass_focus.png) no-repeat;
	background-size: 6%;
	background-position: 3px 6px;
}
#password2 {
	background: url(../imgs/pass.png) no-repeat;
	background-size: 6%;
	background-position: 3px 6px;
}
#password2:focus {
	background: url(../imgs/pass_focus.png) no-repeat;
	background-size: 6%;
	background-position: 3px 6px;
}
#signup-form input[type='text'], #signup-form input[type='password'] {
	border: 1px solid #2c3e50;
	margin-top: 10px;
	width: 400px;
	height: 40px;
	padding: 10px;
	padding-left: 30px;
	font-size: 17px;
	color: #2c3e50;
	outline: none;
}
#signup-form input[type='text']:focus, #signup-form input[type='password']:focus {
	border: 1px solid #c0392b;
}
::-webkit-input-placeholder {
   font-family: 'Open Sans Condensed', sans-serif;
   font-weight: 300;
   color: #999;
   font-size: 18px;
   padding-bottom: 10px;
   padding-left: 5px;
}

:-moz-placeholder { 
   color: #ecf0f1;
   font-size: 18px;
   padding-bottom: 10px;
   padding-left: 5px;
}

::-moz-placeholder { 
   color: #ecf0f1;
   font-size: 18px;
   padding-bottom: 10px;
   padding-left: 5px;
}

:-ms-input-placeholder {  
   color: #ecf0f1;  
   font-size: 18px;
   padding-bottom: 10px;
   padding-left: 5px;
}
#signup-form input[type='submit'] {
	width: 200px;
	height: 40px;
	margin-top: 40px;
}
#submit-reg {
	margin: 0 auto;
	margin-top: 50px;
	width: 200px;
	font-size: 20px;
	color: #c0392b;
	background-color: #ecf0f1;
	border: 1px solid #c0392b;
	outline: none;
	transition: .8s;
}
#submit-reg:hover {
	border: 0;
	background-color: #c0392b;
	color: #eee;
	cursor: pointer;
}
/* LOGIN PAGE */
#wrapper-log {
	background-color: #ecf0f1;
	width: 50%;
	height: 370px;
	margin: 0 auto;
	margin-top: 100px;
	border-bottom-right-radius: 50px;
	border-top-left-radius: 50px; 
	padding-bottom: 50px;
	display: none;
}
#wrapper-log h2 {
	margin: 0 auto;
	padding-top: 60px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 40px;
	font-weight: 300;
	color: #333;
}
#close-log {
	float: right;
	color: #2c3e50;
	background-color: #ecf0f1;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-left-radius: 10px;
	transition: .8s;
}
#close-log:hover {
	background-color: #2c3e50;
	cursor: pointer;
	color: #ecf0f1;
}
#log_form {
	margin: 40 auto;
}
#log_form input[type='text'], input[type='password'] {
	border: 1px solid #2c3e50;
	margin-top: 10px;
	width: 400px;
	height: 40px;
	padding: 10px;
	padding-left: 30px;
	font-size: 17px;
	color: #2c3e50;
	outline: none;
}
#log_form input[type='text']:focus, input[type='password']:focus {
	border: 1px solid #c0392b;
}
#log_form input[type='submit'] {
	width: 200px;
	height: 40px;
	margin-top: 40px;
}
#password-log {
	background: url(../imgs/pass.png) no-repeat;
	background-size: 6%;
	background-position: 3px 6px;
}
#password-log:focus {
	background: url(../imgs/pass_focus.png) no-repeat;
	background-size: 6%;
	background-position: 3px 6px;
}
#email-log {
	background: url(../imgs/mail.png) no-repeat;
	background-size: 6%;
	background-position: 3px 6px;
}
#email-log:focus{
	background: url(../imgs/mail_focus.png) no-repeat;
	background-size: 6%;
	background-position: 3px 6px;	
}
#submit-log {
	margin: 0 auto;
	margin-top: 50px;
	width: 200px;
	font-size: 20px;
	color: #c0392b;
	padding: 10px;
	background-color: #ecf0f1;
	border: 1px solid #c0392b;
	outline: none;
	transition: .8s;
}
#submit-log:hover {
	border: 0;
	background-color: #c0392b;
	color: #eee;
	cursor: pointer;
}
.error {
	background-color: #b4040e;
	color: white;
	font-size: 14px;
}
.success {
	background-color: #345d00;
	color: white;
	font-size: 14px;
}
#response {
	margin-top: 0px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: 0px;
	padding-top: 20px;
}
#response1 {
	margin-top: 0px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: 0px;
	padding-top: 20px;
}
